:root {
  --background-color: #fff;
  --border-color: #c1c1c1;
  --border-radius: 4px;
  --desktop-width: 952px;
  --header-height: 35px;
  --input-width: 225px;
  --max-width: 767px;
  --space: 8px;
  --font-size-title: calc(2.5 * var(--space));
}

$max-width: 767px;

body {
  margin: 0 0 calc(3 * var(--space));
  background-color: var(--background-color);
  font-family: "Roboto Light", sans-serif;
  overflow-y: scroll;
}
